@font-face {
    font-family: 'Inika';
    src: url('./fonts/Inika/Inika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: 'Inika-Bold';
  src: url('./fonts/Inika/Inika-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}